@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Montserrat:wght@400;600&family=Rakkas&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --border-color: #c96e12;
  --fill-color: #f9c101;
}

.container {
  background-color: #ec9d00;
  height: 100vh;
  padding: 2rem 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40;
}

/* container-header */

.container-header__heading {
  font-family: "Rakkas", cursive;
  font-size: 8rem;
  letter-spacing: 4px;
  margin: 1rem 0 0;
}

/* container-content */
.container-content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 40%;
  margin: 1rem 0;
}

.container-content__avater-img {
  width: 15rem;
  height: 15rem;
}

.container-content__avater-text {
  font-family: inherit;
  font-size: 2rem;
  margin: 1rem 0;
}

.container-content__text {
  line-height: 1.5;
  font-size: 1.8rem;
  color: #000;
  background-color: #e9c46a;
  padding: 1rem 2rem;
  border-radius: 5px;
}

/* container-control */
.container-control {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem;
}

.section-cup__heading {
  font-size: 2rem;
  font-weight: 400;
  margin: 1rem 0;
}

.cup {
  background-color: #fff;
  border: 4px solid var(--border-color);
  color: var(--border-color);
  border-radius: 0 0 40px 40px;
  height: 33rem;
  width: 15rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.remained {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  transition: 0.3s ease;
}

.remained span {
  font-weight: bold;
  font-size: 2rem;
}

.remained small {
  font-size: 1.2rem;
}

.percentage {
  background-color: var(--fill-color);
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  height: 0;
  transition: 0.3s ease;
}

.section-cups__text {
  font-size: 1.8rem;
  text-align: center;
  margin: 2rem 0 0.5rem 0;
}

.cups {
  display: flex;
  flex-wrap: wrap;
  max-width: 30rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cup.cup-small {
  background-color: rgba(255, 255, 255, 0.9);
  height: 9.5rem;
  width: 5rem;
  border-radius: 0 0 1.5rem 1.5rem;
  margin: 0.5rem;
  font-size: 1.4rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s ease;
  cursor: pointer;
}

.cup.cup-small.full {
  background-color: var(--fill-color);
  color: #fff;
}

/* Warning */
.container-header__heading.warning {
  font-family: "Creepster", cursive;
  color: #e63946;
}

.container-content__text.warning {
  background-color: #e63946;
}

/* Media queries */
@media only screen and (max-width: 1000px) {
  .container-content {
    max-width: 60%;
  }
}

@media only screen and (max-width: 650px) {
  .container-content {
    max-width: 80%;
  }
}

@media only screen and (max-width: 550px) {
  .container-header__heading {
    font-size: 6rem;
  }

  .container-content__text {
    font-size: 1.4rem;
  }

  .container-content {
    max-width: 85%;
  }

  .container-control {
    flex-direction: column;
  }

  .container {
    height: auto;
  }
}

@media only screen and (max-width: 420px) {
  .container-header__heading {
    margin: 0 1rem;
    text-align: center;
  }

  .container-content {
    flex-direction: column;
  }

  .container-content__text {
    font-size: 1.2rem;
  }

  .container-content {
    max-width: 85%;
  }

  .container-control {
    flex-direction: column;
  }

  .container {
    height: auto;
  }
}

@media only screen and (max-width: 420px) {
  .section-cups {
    max-width: 80%;
  }

  .section-cups__text {
    margin-top: 0.5rem;
    font-size: 1.4rem;
  }
}
